body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
}
input{
    height: 30px;
    width: 200px;
}
.h1{
    margin-bottom: 20px;
    font-size: 40px;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.div{
    width: 400px;
    height: 400px;
    background: #999;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}
.div div{
    border: 1px solid #aaa;
}
.default{
    background: #999;
}

.pacman-derecha{
    background-image: url(pacman-derecha.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}
.pacman-derecha-cerrada{
    background-image: url(pacman-derecha-cerrado.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;

}


.pacman-abajo{
    background-image: url(abajo.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}
.pacman-abajo-cerrado{
    background-image: url(pacman-abajo-cerrado.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}


.pacman-izquierda{
    background-image: url(pacman-izquierda.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}
.pacman-izquierda-cerrado{
    background-image: url(pacman-izquierda-cerrado.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;

}

.pacman-arriba{
    background-image: url(pacman-arriba.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}
.pacman-arriba-cerrada{
    background-image: url(pacman-arriba-cerrada.png);
    height: 38px;
    width: 38px;
    background-size: 38px 38px;

}


.punto-verde{
    background-color: #0f0;
}


.div-2{
    height: 160px;
    width: 240px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(2, 80px);
    align-self: center;
    margin-top: 20px;
}
.button-direction{
    height: 80px;
    width: 80px;
    border: 1px solid #000;
}
.top{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.left{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.bottom{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.right{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
